.neuroglancer-annotation-geneTable-tab{    
    width: 15%;
    position: fixed !important;
    left: 0;
    /* top: 46px; */
    background-color: #fff;
    height: 100%;
    display: block;
    transition:width 2s;
    overflow: auto;
}
.neuroglancer-annotation-geneTable-tab-new{
    width: 100%;
}
.neuroglancer-tab-gene-view-bar{padding: 2px;border: 1px solid #fff;background-color: #339933;}
.neuroglancer-annotation-geneTable-tab .geneTable-head{
	display: flex;
	justify-content: space-around;
	border: 1px solid #fff;
    color: #909399;
    font-size: 14px;
    font-weight: bold;
    transition: diplay 2s;
}
.neuroglancer-annotation-geneTable-tab .isFlex{
    display: flex;
}
.neuroglancer-annotation-geneTable-tab .el-table{
    border: 1px solid #ebebeb;
 }
.dash-select-cell input{
	width:18px;
	height:18px;
	text-align:center;
}
.previous-next-container{width:100%;}
.gene_selected_div{
	width:90%;
	height:80px;
	margin:0 auto;
	margin-top:25px;
    margin-bottom: 10px;
    font-size: 14px;
}
#selected_ids{width:90%;height:45px;font-size:15px;}
#selected_ids, #selected_gene_ids{
	background-color:#1F2132;
	color:white;
	border-radius:4px;
	width: 90%;
	height: 6em;
}

/*top dnb*/
.dnb_selected_div{
	width:90%;
	height:60px;
	margin:0 auto;
	margin-top:55px;
}
.view_type_block{
	margin-top:20px;
}
.gene_radio{
	width:50%;
	display:inline-block;
}
#gene_radio .Select-control{
	background-color:#262B3D;
	border:solid 1px #545454;
}

#gene_radio .Select-menu-outer {
	border:solid 1px #545454;
	background-color:#262b3d;
}

#gene_radio span.Select-value-label{color:#E2EFFA;}

.dash-spreadsheet-menu {
    display: flex;
    flex-direction: row;
}

.dash-spreadsheet-menu > * {padding-right: 5px;}

.dash-table-container .dash-spreadsheet-container {
    display: flex;
    flex-direction: row;
    position: relative;
    max-height: 500px;
    width: 100%;
}

.neuroglancer-annotation-geneTable-tab .caret-wrapper {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    height: 34px;
    width: 24px;
    vertical-align: middle;
    cursor: pointer;
    overflow: initial;
    position: relative;
}

.neuroglancer-annotation-geneTable-tab .sort-caret {
    width: 0;
    height: 0;
    border: 5px solid transparent;
    position: absolute;
    left: 7px;
}

.neuroglancer-annotation-geneTable-tab .sort-caret.ascending {
    border-bottom-color: #c0c4cc;
    top: 5px;
}
.neuroglancer-annotation-geneTable-tab .sort-caret.descending {
    border-top-color: #c0c4cc;
    bottom: 7px;
}
.neuroglancer-annotation-geneTable-tab input{width: 97%;display: block;transition: diplay 2s;text-align: center;}
.neuroglancer-annotation-geneTable-tab .el-table input{width: auto}
tr {
    display: table-row;
    vertical-align: inherit;
    border-color: inherit;
}
.neuroglancer-annotation-geneTable-tab .gene-table{
    height: 70%;
    overflow: auto;
}

.geneTableIsClose{
    /* margin-top: 15px; */
    margin: 0 auto;
    height: 48px;
    cursor: pointer;
    /* top: 170px; */
    position: absolute;
    transition: left 2s;
    display: flex;
    width: 100%;
    margin: auto auto;
    justify-content: center;
    bottom: 20px;
}
.geneTableIsClose .icon{
    transform: rotate(180deg);
    transition:transform 2s;
    margin: auto 10px;
    -webkit-backface-visibility: hidden;  
    -moz-backface-visibility: hidden;  
    -ms-backface-visibility: hidden; 
    backface-visibility: hidden;  
    -webkit-perspective: 1000;  
    -moz-perspective: 1000;  
    -ms-perspective: 1000;  
    perspective: 1000;  
    -webkit-transform-style: preserve-3d;
}
.geneTableIsClose p{
    color: #606266;
}

.el-table{width: 100%; border-spacing: 0px}
.el-table tr:hover>td { 
    background-color: #e6ebf1;
    cursor: pointer;
}
.el-table .success-row {
    background: #c2e5af;
}
.el-table tr{padding: 0 10px;}
.el-table td {
	padding: 3px 0;
	min-width: 0;
	box-sizing: border-box;
	text-overflow: ellipsis;
	vertical-align: middle;
	position: relative;
	text-align: left;
    color: #606266;
    font-size: 14px;
    border-bottom: 1px solid #cfd0d1;
}

.el-table td.el-table__cell div {box-sizing: border-box;}

.el-table .cell {
    box-sizing: border-box;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
    word-break: break-all;
    line-height: 23px;
    padding-left: 10px;
    padding-right: 10px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.el-pagination {
    white-space: nowrap;
    padding: 2px 5px;
    color: #303133;
    font-weight: 700;
    padding: 8px;
	display: flex;
	justify-content: space-around;
}
.el-pager {
    user-select: none;
    list-style: none;
    display: inline-block;
    vertical-align: top;
    font-size: 0;
    padding: 0;
    margin: 0;
}
.el-pagination:after, .el-pagination:before {
    display: table;
    content: "";
}
.el-pagination .btn-next, .el-pagination .btn-prev {padding: 0;}
.el-pagination button {border: none;cursor: pointer;}
.el-pagination .btn-next, .el-pagination .btn-prev, .el-pagination .el-pager li {
    margin: 0 5px;
    background-color: #f4f4f5;
    color: #000;
    padding: 0 4px;
    border-radius: 2px;
}
.el-pagination .btn-next .el-icon, .el-pagination .btn-prev .el-icon {
    display: block;
    font-size: 12px;
    font-weight: 700;
}
[class*=" el-icon-"], [class^=el-icon-] {
    font-family: element-icons!important;
    speak: none;
    font-style: normal;
    font-weight: 400;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    vertical-align: baseline;
    display: inline-block;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.el-pagination:after, .el-pagination:before {
    display: table;
    content: "";
}
.el-pagination:after {clear: both;}
.el-pagination .el-pager{display: flex;}
.el-pagination .el-pager input{	width: 30%;text-align: center;}
.el-pagination .el-pager p {
    margin: 0 5px;
    color: #606266;
	width: 30%;
	font-size: 15px;
    text-align: center;
}

.neuroglancer-annotation-geneTable-tab .el-button {
    display: block;
    line-height: 1;
    white-space: nowrap;
    cursor: pointer;
    background: #fff;
    border: 1px solid #dcdfe6;
    color: #606266;
    -webkit-appearance: none;
    text-align: center;
    box-sizing: border-box;
    outline: none;
    font-weight: 500;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    padding: 12px 20px;
    font-size: 14px;
    border-radius: 4px;
    width: 50%;
    margin: 20px auto;
    transition: display 4s;
}

.neuroglancer-annotation-geneTable-tab .el-button.is-plain:focus, .el-button.is-plain:hover {
    background: #fff;
    border-color: #409eff;
    color: #409eff;
}

.el-table .nodata{
    color: #000;
    text-align: center;
    padding: 25px;
    font-size: 1.3em;
    font-weight: bold;
}